@import "variables";

@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/helpers";
@import "../bootstrap/scss/utilities/api";
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/buttons";

body{
    background-color: $russian-violet;
}

.content {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    color: $primary;
}

.col-3 {
    margin-bottom: 1rem;
}

svg{
    transition: fill 0.15s ease;
    height: auto;
    width: 100%;
}

path, polygon{
    transition: fill 0.15s ease;
}

#searchterm {
    // background-color: $light-periwinkle;
    padding-left: 1em;
    padding-right: 1em;
    font-size: larger;
    width: 60vw;
    height: 2em;
}