@import "variables";

a {
    fill: $primary;
    &:hover{
        @include outlook-colors;
        @include reddit-colors;
        @include mega-colors;
        @include ghub-colors;
        @include gmail-colors;
        @include gdrive-colors;
    }
}