// shoutout to https://coolors.co for the palette and naming scheme

$tiffany-blue: #0CBABA;
$cyan-process: #01BAEF;
$russian-violet: #380036;
$warm-black: #004346;
$rhythm: #726E97;
$blue-sapphire: #2E6171;
$purp-mtn: #967AA1;
$light-periwinkle: #D0CFEC;

$primary: $tiffany-blue;




// Logo mixins
@mixin canvas-colors {
    fill: #e13f2a;
}

@mixin outlook-colors {
    #outlook{
        fill: #0072c6;
    }
}

@mixin reddit-colors {
    #reddit{
        fill: #FF4500;
    }
}

@mixin mega-colors{
    #mega{
        fill: #DA2316;
    }
}

@mixin ghub-colors{
    #ghub{
        fill: #161614;
    }
}

@mixin gmail-colors{
    #lgmail{
        fill: #4285f4;
    }
    #tlgmail{
        fill: #c5221f;
    }
    #mgmail{
        fill: #ea4335;
    }
    #trgmail{
        fill: #fbbc04;
    }
    #rgmail{
        fill: #34a853;
    }
}

@mixin gdrive-colors{
    #blgdrive{
        fill: #0066DA;
    }
    #lgdrive{
        fill: #00AC47;
    }
    #tgdrive{
        fill: #00832D;
    }
    #rgdrive{
        fill: #FFBA00;
    }
    #brgdrive{
        fill: #EA4335;
    }
    #bgdrive{
        fill: #2684FC;
    }
}